/* ==================  
?    ===  Colour-Palette  ===
.     ================== */

$wkd-black: rgb(0, 0, 0);
$wkd-darkgrey: rgb(29, 29, 29);
$wkd-midgrey: rgb(61, 61, 61);
$wkd-grey: rgb(107, 106, 106);
$wkd-lightgrey: rgb(178, 182, 160);
$wkd-white: rgb(255, 255, 255);
$wkd-red: rgb(255, 0, 0);
$wkd-green: rgb(82, 150, 34);
$wkd-intense-blue: rgb(0, 0, 250);
$wkd-pastell-blue: rgb(25, 145, 210);
$wkd-torquise: rgb(8, 253, 216);
$wkd-blueviolett: rgb(21, 23, 76);
$wkd-yellow: rgb(255, 255, 0);
$wkd-yellow-dark: rgb(255, 183, 0);
$wkd-orange: rgb(255, 102, 0); /* filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%); */
$wkd-grapefruit: rgb(239, 95, 87);
$wkd-pink: rgb(255, 0, 128);
$wkd-pinkviolett: rgb(255, 0, 255);  /* filter: brightness(0) saturate(100%) invert(19%) sepia(63%) saturate(4179%) hue-rotate(293deg) brightness(123%) contrast(136%); */
$wkd-darkviolett: rgb(102, 0, 102); 
$wkd-manner: rgb(235, 184, 173);

/*? === design === */
$main-colour: $wkd-pastell-blue;
$counter-colour: $wkd-orange;
$background-color: $wkd-white;
$design-strokes-colour: $wkd-grey;
$design-strokes-accent-colour: $wkd-pinkviolett;
$shadows: $wkd-white;
$borders: $wkd-white;

/*? === text === */
$text-optimal-width: clamp(45ch, 50%, 75ch);
$text-main-colour: $wkd-white;
$text-main-colour: $wkd-black;
$link-hover-color: $wkd-red;
$font-futura: futura-pt,sans-serif;
$fs-400: 1rem;
$fs-500: 1.125rem;
$fs-600: 1.375rem;
$fs-700: 2rem;

//#region Generals & Reset

/* futura: font-family: futura-pt,sans-serif; */
@import url("https://use.typekit.net/izw3hmc.css");
