@import './ColorsAndDesign.scss';


.home_container {
    > .auswahl{
        display: flex;
        gap: .5rem;

        > label {
            > input {
                margin-left: .5rem;
            }
        }
        
    }
}